<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!--<script type="text/javascript">
        function login() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/user/login',
                contentType: "application/json",
                data:JSON.stringify({
                    "userName": username,
                    "passWord": password
                }),
                success: function (result) {
                    console.log("data is :" + result)
                    if (result.code == 00000) {
                        alert("登陆成功");
                        window.location.href = "list.html";
                    }else {
                        alert(result.message)
                    }
                }
            });
        }
    </script>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>


    <title>登录</title>
    <form action="" id="loginForm" class="fh5co-form animate-box" onsubmit="return false" method="post"
          data-animate-effect="fadeInLeft">
        <h2>Sign In</h2>
        <div class="form-group">
            <label for="username" class="sr-only">Username</label>
            <input type="text" class="form-control" id="username" name="userName" placeholder="Username"
                   autocomplete="off">
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input type="password" class="form-control" id="password" name="passWord" placeholder="Password"
                   autocomplete="off">
        </div>
        <div class="form-group">
            <label for="remember"><input type="checkbox" id="remember"> Remember Me</label>
        </div>
        <div class="form-group">
            <p>Not registered? <a href="sign-up2.html">Sign Up</a> | <a href="forgot2.html">Forgot Password?</a>
            </p>
        </div>
        <div class="form-group">
            <input type="button" onclick="login()" value="Sign In" class="btn btn-primary">
        </div>
    </form>
-->
    <form action="/user/loginUser" method="post">
        请输入用户名--：<input type="text" name="userName" id="userName"/><br>
        请你输入密码--：<input type="password" name="passWord" id="passWord"/><br>
        <input type="submit" value="Login"/>
        <a href="/user/toRegister">--注册--</a>
    </form>






</head>
</body>
</html>